.pantalla{
    margin: 50px 10px 3px 10px;
    padding: 10px 10px 10px 10px;
    width: 1500px;
    height: 630px;
    border: 4px solid black;
}

.tabla{
    display: inline-block;
    margin-right: 10px;
    /*margin: 50px 10px 3px 10px;*/
    width: 900px;
    height: 600px;
    border: 4px solid black;
}

.datos{
    display: inline-block;
    margin-left: 10px;
    /*margin: 50px 10px 3px 10px;*/
    width: 545px;
    height: 600px;
    border: 4px solid black;
}